name: Precompile native gem

on:
  workflow_call:
    inputs:
      platform:
        required: true
        type: string

jobs:
  precompile-gem:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - uses: actions/cache@v4
        with:
          path: ports/archives
          key: archives-ubuntu-${{ hashFiles('dependencies.yml') }}
      - run: bundle exec rake gem:${{ inputs.platform }}
      - uses: actions/upload-artifact@v6
        with:
          name: "cruby-${{ inputs.platform }}-gem"
          path: pkg/*.gem
