name: re2 Tests
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: Ruby ${{ matrix.ruby }} - libre2 ABI version ${{ matrix.libre2.soname }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        ruby:
          - '3.1'
          - '3.0'
          - 2.7
          - 2.6
          - 2.5
          - 2.4
          - 2.3
          - 2.2
          - 2.1.9
        libre2:
          - version: "20150501"
            soname: 0
          - version: "20200302"
            soname: 1
          - version: "20200303"
            soname: 6
          - version: "20200501"
            soname: 7
          - version: "20200706"
            soname: 8
          - version: "20201101"
            soname: 9
    steps:
      - uses: actions/checkout@v2
      - name: Remove any existing libre2 installation
        run: sudo apt-get remove -y libre2-dev libre2-5
      - name: Download and install specific release of libre2
        run: |
          curl -Lo libre2-dev.deb https://github.com/mudge/re2-ci/releases/download/v2/libre2-dev_${{ matrix.libre2.version }}_amd64.deb
          sudo dpkg -i libre2-dev.deb
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "${{ matrix.ruby }}"
          bundler-cache: true
      - run: bundle exec rake

  legacy:
    name: Legacy Ruby ${{ matrix.ruby }} - libre2 ABI version ${{ matrix.libre2.soname }}
    runs-on: ubuntu-20.04
    container:
      image: "mudge/re2-ci:${{ matrix.ruby }}"
      options: "--add-host rubygems.org:151.101.129.227 --add-host api.rubygems.org:151.101.129.227"
    strategy:
      matrix:
        ruby:
          - 1.8
          - 1.9.1
          - '2.0'
        libre2:
          - version: "20150501"
            soname: 0
          - version: "20200302"
            soname: 1
          - version: "20200303"
            soname: 6
          - version: "20200501"
            soname: 7
          - version: "20200706"
            soname: 8
          - version: "20201101"
            soname: 9
    steps:
      - uses: actions/checkout@v2
      - name: Download and install specific release of libre2
        run: |
          curl -Lo libre2-dev.deb https://github.com/mudge/re2-ci/releases/download/v1/libre2-dev_${{ matrix.libre2.version }}_amd64.deb
          dpkg -i libre2-dev.deb
      - name: Configure Bundler for Ruby dependencies
        run: bundle config --local path vendor/bundle
      - name: Generate Gemfile.lock
        run: bundle lock
      - name: Cache Ruby dependencies
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: gems-v1-${{ runner.os }}-${{ matrix.ruby }}-${{ hashFiles('Gemfile.lock') }}
      - run: bundle install --jobs 4
      - run: bundle exec rake
